name: Build Wheels (Trusted Publisher)

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  # 'call-shared-builder' is just a name you choose for this job
  call-shared-builder:
    # Syntax: {owner}/{repo}/.github/workflows/{filename}@{ref}
    # Use @main for latest, or a specific tag like @v1
    uses: retracesoftware/.github/.github/workflows/build_extension_wheel.yml@main
    with:
      package_name: "retracesoftware_functional"
    secrets: inherit  # This passes GITHUB_TOKEN and others to the shared workflow
